@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    /* Color Palette 1 */
    --color-1: #1b222c;
    --color-2: #12151c;
    --color-3: #661b1c;
    --color-4: #531516;
    --color-5: #191d26;

    --color-6: #1c242f;
    --that-red: #bb0505;
}
* {
    padding: 0;
    margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.pb-0 { padding-bottom: 0 !important; }

/* body */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-5) !important;
    color: #ffffffcc !important;
}
body::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-1);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--that-red);
}

/* back-to-top button */
.back-to-top {
    height: 45px;
    width: 45px;
    color: #fff;
    background-color: var(--color-3);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.back-to-top:hover {
    background-color: #872325;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* container checker */
.contcheck { border: 1px solid yellow !important; }

/* Sections */
section {
    padding: 60px 0;
    overflow: hidden;
}
.section-title {
    text-align: center;
    padding-bottom: 20px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #fff;
}
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 400px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 200px);
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: var(--that-red);
    bottom: 0;
    left: calc(50% - 50px);
}

/* Navbar */
#navbar {
    z-index: 999;
    margin: 0;
    position: absolute;
    top: 0;
}

#navbar * {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-toggler {
    position: fixed;
    top: 10px; right: 10px;
}
.navbar-toggler-icon { color: #fff !important; }
.nav-active {
    background-color: rgba(35, 44, 57, 0.8);
    animation: flydown 0.4s;
}
.nav-item
.nav-link {
    color: #fff !important;
}
.nav-link i { display: none; }
.nav-link { padding: 5px 10px !important; }
.nav-link.active { background-color: #ad0505 !important; }
.navbar-nav { gap: 20px; }
.offcanvas-body { margin-right: 50px !important; }

 /* Nav anim */
 @keyframes flydown {
    from {top: -42px;}
    to {top: 0;}
 }

/* Home */
#home{
    width: 100%;
    height: 100vh;
    background: url("../assets/img/homepic.jpeg") top right no-repeat;
    background-size: cover;
    position: relative;
}
#home::after {
    content: "";
    background: rgba(25, 29, 38, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#home-content {
    z-index: 1;
    margin-left: 80px;
}
#typed { color: burlywood;}
.social-link a {
    color: #ddd;
}

/* About */
#profile-pic {
    border: 1px solid #000000;
}
#about .content ul {
    list-style: none;
    padding: 0;
}
#about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    line-height: 0;
}
#about .content ul strong {
    margin-right: 10px;
}

/* Skills */
#skills .progress {
    height: 60px;
    display: block;
    background: none;
}
#skills .progress .skill {
    margin: 0;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #ffffffcc;
}
  
#skills .progress .skill .val {
    float: right;
    font-style: normal;
}
#skills .progress-bar-wrap {
    background: #f2f3f577;
    border-radius: 50px;
  }
  
#skills .progress-bar {
    height: 15px;
    transition: 0.9s;
    border-radius: 50px;
}

/* Resume */
.resume-title {
    padding: 20px 0;
}
.resume-content {
    border-left: 2px solid var(--that-red);
    padding: 0 0 20px 20px;
    position: relative;
}
.resume-content h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--that-red);
    margin-bottom: 10px;
}
.resume-content::before {
    content: "";
    position: absolute;
    left: -8.5px;
    top: 0;
    width: 16px;
    height: 16px;
    background: var(--color-5);
    border: 2px solid var(--that-red);
}
.year {
    padding: 8px;
    background-color: #6f6f6f9f;
    display: inline-block;
}
/* Project */
#project-filter {
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    padding: 2px 15px;
}
#project-filter li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s ease-out;
}
#project-filter li:hover,
#project-filter li.filter-active {
    color: var(--that-red);
}
.project-wrap {
    position: relative;
    margin: 0 0 20px;
    color: var(--color-2);
}
.project-info {
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    background-color: rgba(255, 255, 255, 0.6);
}
.project-info:hover {opacity: 1;}

/* Contact */
.info { width: 100%; }
.info i {
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #8d00005d;
    transition: all 0.3s ease-out;
    color: var(--that-red);
}
.info i:hover {
    background-color: #910002;
    color: #fff;
}
.info h4 {
    padding: 0 0 0 60px;
    margin-bottom: 5px;
    font-size: 22px;
}
.info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
}
.info .phone,
.info .email { margin-top: 30px ;}

.form-group {
    margin-top: 0.5rem;
}
.form-control {
    background-color: var(--color-1) !important;
    color: #fff !important;
}
.form-control::placeholder { color: #ffffff72 !important }

#contact-form button[type=submit] {
    padding: 10px 20px;
    background-color: #ad0505;
    border-radius: 50px;
    border: none;
    color: #ddd;
    transition: 0.3s;
}
#contact-form button[type=submit]:hover {
    background-color: #bb0505;
}

/* footer */
#footer {
    background: var(--color-6);
    padding: 30px 0;
    text-align: center;
}
#footer .social-link { margin: 0 0 30px 0; }
#footer .social-link a {
    width: 36px;
    height: 36px;
    line-height: 2.25;
    background-color: #910002;
    color: #fff;
    text-align: center; 
    border-radius: 50px;
    transition: 0.3s;
}
#footer .social-link a:hover {
    background-color: #ad0505;
}

/* RESPONSIVENESS */
@media (max-width: 767.98px) {
    /* Mobile Nav */
    .offcanvas {
        width: 200px !important;
    }
    .nav-item {
        border-radius: 50px;
        align-items: center;
        justify-content: center;
    }
    .nav-item i {
        display: inline-block;
    }
    .nav-active {
        background-color: transparent;
    }

    /* Home */
    #home-content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* About */
    #about .profile-pic {
        width: 220px;
        height: 220px;
    }

    /* Project */
    
    /* Contact */
    #contact-form {
        margin-top: 3rem;
    }
}
